.header__main {
  background-color: purple;
  padding-right: 30%;
}

.header__main > p {
  color: yellow;
  font-family: cursive;
  font-size: 1.4rem ;
}

/* Instuctions CSS begins here */

.instuctions__main {
  color: brown;
  width: 20%;
  margin: auto;
  margin-top: 1rem;
  font-size: 0.8rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
}